/navgation section/
#navbar{
    flex-direction: column;
     
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/home section/
#home{
    height: 370px;
    padding: 3px 68px;
    
}
#home::before{
    height: 480px;
    
}
#home p{
   font-size: 13px;
    
}
/services section/
#sevices{

}
#sevices.box{
    flex-direction: column; 
}
#services.box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/client section/
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 56px;
    padding: 2px 5px;
    height: auto;
}

/contact section/
#contact-box form{
    width: 80%;
}

/footer section/

/utility section/
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
